pom.xml
pom.xml.asc
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.Rhistory
fastmath.core.matrix/target/
.lsp
.clj-kondo/.*
.calva
.clerk
*~
