/*-- scss:rules --*/
.table {
    @extend .table-hover;
    @extend .table-responsive;
    width: auto;
}

td { div { p { margin-bottom: 0px; }}}

.printedClojure {
  max-height:400px;
  overflow-y: auto;
}
