{:hooks {:macroexpand
         {fastmath.core/variadic-proxy hooks.core/proxy->declare
          fastmath.core/primitivemath-proxy hooks.core/variadic-proxy->declare
          fastmath.core/variadic-predicate-proxy hooks.core/proxy->declare
          fastmath.core/fastmath-proxy hooks.core/variadic-proxy->declare
          fastmath.core/erf-proxy hooks.core/variadic-proxy->declare
          fastmath.core/besselj-proxy hooks.core/variadic-proxy->declare
          fastmath.core/beta-proxy hooks.core/variadic-proxy->declare
          fastmath.core/gamma-proxy hooks.core/variadic-proxy->declare

          fastmath.kernel/emit-simple-rbf hooks.kernel/emit-simple
          fastmath.kernel/emit-simple-rbf+ hooks.kernel/emit-simple
          fastmath.kernel/emit-beta-rbf hooks.kernel/emit-beta
          fastmath.kernel/make-scaled-x+ hooks.kernel/emit-simple
          fastmath.kernel/make-scaled-x hooks.kernel/emit-simple

          fastmath.matrix/gen-mulm hooks.matrix/gen-mulm

          fastmath.vector/primitive-ops hooks.vector/primitive-ops

          fastmath.quaternion/gen-from-complex hooks.quaternion/gen-from-complex}}

 :config-in-call {fastmath.random/make-ssjc-distr {:ignore [:unresolved-symbol]}
                  fastmath.random/make-ssjc-distr-no-pdf {:ignore [:unresolved-symbol]}
                  fastmath.random/make-ssji-distr {:ignore [:unresolved-symbol]}
                  fastmath.random/make-acm-distr {:ignore [:unresolved-symbol]}
                  fastmath.random/distribution-template {:ignore [:unresolved-symbol]}}

 :linters {:unused-private-var {:exclude [fastmath.clustering/centroid-data
                                          fastmath.clustering/mec-data
                                          fastmath.clustering/spectral-data]}}
 
 :lint-as {fastmath.random/gen-noise-function clojure.core/def
           fastmath.stats/build-extent clojure.core/def
           fastmath.curves/make-config-method clojure.core/def
           fastmath.interpolation/apache-commons-interpolator clojure.core/def}}
